@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.myHour {
    display: flex;
    flex-direction: row;
}
.listOf{
    font-size: 0.938rem;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 0.125rem;
    color: black;
    background-color: white;
    border-radius: 0px;
    width: 7rem;
    height: 1.913rem;
    position: relative;
    list-style: none;
    line-height: 2rem;
    border-radius: 0.313rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 0 1rem 0 0;

}
i.fa-trash-alt {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    padding: 0 0.5rem;
}
i.fa-trash-alt:hover {
    cursor: pointer;
}
.hourList {
    margin-right: 1rem;
    padding: 0;
    margin-bottom: 0;
}
.addScheduleHours {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15rem;
    margin: 0.5rem 0;
}
.addScheduleHours p {
    font-size: 0.938rem;
    margin: 0;
    
}
span.scheduleHours {
    padding: 0 0.75rem;
}
#myCategorySelect:focus {outline:0;}