.barber-profile-container{
    display: flex;
    //background:#E9EBED;
}
.l-menu{
    background:#E9EBED;
    height: 100vh;
    flex: 0 0 auto;
    padding: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    position: fixed;
    top: 0;
}
.r-menu{
    //width: 80%;
    //color: aqua;
}
.barber_image_profile1{
    object-fit: cover;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid #bebec4;
    flex-shrink: 0;
    width: 5rem;
    height: 5rem;
    margin: 0rem 0rem 1rem 0rem;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #E9EBED;
    background-color: #242331;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #242331;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.nav-link:hover, .nav-link:focus {
    color: #C8102E;
}
.img-profile-logo-container{
    margin-top: 1rem;
    //text-align: center;

}
.img-profile-logo{
    
    width: 7rem;
    min-width: 4;
    height: 3;
}