.search-modal-first-container{
    background: #C8102E;
    color: #E9EBED;
    opacity: 0.9;
    border-radius: 10rem;
    display: flex;
    justify-content: space-evenly;
    width: 35rem;
    border: white;
    height: 4.5rem;
    position: absolute;
    top: 22rem;
    align-items: center;
    text-align: center;
    &:hover{
        background-color: #970820 !important;
    color: white!important;
    border-color: #970820 ;
    }
    p {
        margin: 0;
    }
}
@media screen and (max-width: 658px) {
    .search-modal-first-container {
        width: 25rem;
        height: 4rem;
    }
    .search-modal-text {
        font-size: 14px;
    }
}
@media screen and (max-width: 440px) {
    .search-modal-first-container {
        top: 17rem;
    }
}
@media screen and (max-width: 470px) {
    .search-modal-first-container {
        width: 65vw;
        height: 3.5rem;
        display: flex;
        justify-content: end;
    }
    .search-modal-text {
        display: none;
    }
    img.img-logo-footer {
        width: 10rem;
    }
}
.h1-cabecera-m {
    color: #C8102E;
    font-size: large;
    font-size: x-large;
    font-family: 'Oswald';
}
.butt-modal-first{
    background: #C8102E;
    color: white;
    border-radius: 2rem;
    height: 3rem;
    width: 6rem;
    border: white;
    opacity: 0.9;
}
.leaflet-container {
    width: 100vw; height: 100vh;
}
#mapid { 
    width: 20vw;
    height: 40vh;
    margin-top: 2rem;
    border-radius: 3rem;
}
.p-dark-inp {
    color: #242331;
    font-size: large;
    font-family: 'Roboto';
}
.btn:not(:disabled):not(.disabled) {
    
    cursor: pointer;
}
.search-bar-container{
    text-align: center;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.icon-search {
    margin: 1rem 2rem;
}
.search-modal-text {
    padding: 1rem 2rem;
}