.services_views{
    padding: 5rem;
    //height: 100%;
}
.w-100{
    border-radius: 1.5rem;
}
.carousel-inner{
    border-radius: 1.5rem;
}
.carousel {
    display: none;
}
.services_views .mustache-container {
    margin-top: 4rem;
}


.barber_container_profiles{
    background: #E9EBED;
    padding: 2rem;
    border-radius: 25px;
    display: flex;
    margin-top: 2rem;
    //position: relative;
//top: 30px; left: 10px;
}
.mustache-container{
    width: 100%;
    text-align: center;
    margin-top: 2rem;

}
.mustache_img{
    width: 6rem;
    height: 6rem;
    //margin-left: 50%;
}
#mapid { 
    width: 100%;
    height: 40vh;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 25px;
}
.choose_tonsor_title{
    position: relative;
    top: 2.4rem; 
    left:4rem;
    color:#C8102E;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
}
