.services_views{
    padding: 5rem;
    height: 100%;
}
.barber_container_profiles{
    background: #E9EBED;
    padding: 2rem;
    border-radius: 25px;
    display: flex;
    margin-top: 2rem;
    //position: relative;
//top: 30px; left: 10px;
}
.mustache_img{
    width: 6rem;
    height: 6rem;
    margin:auto;
}
#mapid { 
    width: 100%;
    height: 70vh;
    margin-top: 2rem;
    border-radius: 25px;
}
.choose_tonsor_title{
    position: relative;
    top: 3.4rem; left:32rem;
    color:#C8102E;
}