@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
    font-size: 0.938;
}
.modal-content {
    border-radius: 20px;
}
.modal-title {
    color: #C8102E;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3131rem;
    font-weight: 600;
    margin: 1rem 0 1rem 0;
}
.modalTitle2 {
    color: #C8102E;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3131rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem 0;
}
.modal-header {
    border-bottom: none;
    justify-content: center;
    padding-bottom: 0;
}
.modal-body {
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 0;
}
.modal-footer {
    justify-content: center;
    border-top: none;
    border-radius: 20px;
    padding-bottom: 2rem;
}
.modal-dialog {
    width: fit-content;
}
.registerButton {
    background-color: #242331;
    color: white;
    border: none;
    border-radius: 40px;
    width: 124px;
    height: 44px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3131rem;
    font-weight: 400;
}
.registerButton:active {
    outline: none;
    background-color: #000000;
}
.accessButton {
    background-color: #C8102E;
    color: white;
    border: none;
    border-radius: 40px;
    width: 124px;
    height: 44px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3131rem;
    font-weight: 400;
}
.accessButton:active {
    background-color: #a50e27;
    outline: none;
}
.registerButton2 {
    background-color: #C8102E;
    color: white;
    border: none;
    border-radius: 40px;
    width: 124px;
    height: 44px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3131rem;
    font-weight: 400;
}
.registerButton2:active {
    background-color: #a50e27;
}
.myLabel {
    display: flex;
    text-align: left;
    margin: 0;
    padding-top: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.myInput {
    border: none;
    border-bottom: 1px solid black;
    width: 18rem;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.myInput:active {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
.googleAcc {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
    padding: 0;
    background-color: white;
}
.googleAcc:first-child {
    padding: 0.15rem .7rem 0.15rem 3.2rem;
}
.accessGoogle {
    width: 281px;
    height: 39px;
    margin: 0 0 1rem 0;
}
.fa-google {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}
.googleAcc:active {
    background-color: rgb(212, 212, 212);
}
.myInput::-webkit-outer-spin-button,
.myInput::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    
}
.yourRole {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin: 1rem;
}
.barberButton {
    width: 126px;
    height: 29px;
    background-color: #242331;
    border: 1px solid #5A577A;
    border-radius: 5px 0 0 5px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: white;
    padding: 0;
    margin: 0;
}
.barberButton:active {
    background-color: #000000;
}
.customerButton {
    width: 126px;
    height: 29px;
    background-color: white;
    border: 1px solid #CCCCCC;
    border-radius: 0 5px 5px 0;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
}
.customerButton:active {
    background-color: rgb(212, 212, 212);
}
.myHolder {
    display: flex;
    margin: 1rem 1rem 0 1rem;
}
hr {
    width: 6.5rem;
}
.myDivider {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-right: 1rem;
    margin-left: 1rem;
}
