@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/*body {
    font-size: 0.938;
}*/

.modal-content {
    border-radius: 1.25rem;
    border: none;
}
.modal-title {
    color: #C8102E;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3131rem;
    font-weight: 600;
    margin: 1rem 0 1rem 0;
}
.modalTitle2 {
    color: #C8102E;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3131rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem 0;
}
.modal-header {
    border-bottom: none;
    justify-content: center;
    padding-bottom: 0;
}
.modal-body {
    padding-right: 3.5rem;
    padding-left: 3.5rem;
    padding-top: 0;
}
.modal-footer {
    justify-content: center;
    border-top: none;
    border-radius: 1.25rem;
    padding-bottom: 2rem;
}
.modal-dialog {
    width: fit-content;
}
.registerButton {
    background-color: #242331;
    color: white;
    border: none;
    border-radius: 2.5rem;
    width: 7.75rem;
    height: 2.75rem;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3131rem;
    font-weight: 400;
}
.registerButton:active {
    outline: none;
    background-color: #000000;
}
.accessButton {
    background-color: #C8102E;
    color: white;
    border: none;
    border-radius: 2.5rem;
    width: 7.75rem;
    height: 2.75rem;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3131rem;
    font-weight: 400;
}
.accessButton:active {
    background-color: #a50e27;
    outline: none;
}
.registerButton2 {
    background-color: #C8102E;
    color: white;
    border: none;
    border-radius: 2.5rem;
    width: 7.75rem;
    height: 2.75rem;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3131rem;
    font-weight: 400;
}
.registerButton2:active {
    background-color: #a50e27;
}
.myLabel {
    display: flex;
    text-align: left;
    margin: 0;
    padding-top: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 0.938rem;
}
.myInput {
    border: none;
    border-bottom: 1px solid black;
    width: 18rem;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.myInput:active {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
.googleAcc {
    font-family: 'Roboto', sans-serif;
    font-size: 0.938rem;
    font-weight: 600;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
    padding: 0;
    background-color: white;
}
.googleAccR {
    font-family: 'Roboto', sans-serif;
    font-size: 0.938rem;
    font-weight: 600;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
    padding: 0;
    background-color: white;
}
.googleAcc:active {
    border: 1px solid rgb(201, 201, 201);
    outline: none;
    background-color: rgb(212, 212, 212);

}
.googleAccR:active {
    border: 1px solid rgb(201, 201, 201);
    outline: none;
    background-color: rgb(212, 212, 212);

}
.accessGoogle {
    width: 17.563rem;
    height: 2.375rem;
    margin: 0 0 1rem 0;
}
.myInput::-webkit-outer-spin-button,
.myInput::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    
}
.yourRole {
    font-family: "Roboto", sans-serif;
    font-size: 0.938rem;
    font-weight: 600;
    margin: 1rem;
}
.barberButton {
    width: 21rem;
    height: 2.45rem;
    background-color: #242331;
    border: 1px solid #242331;
    border-radius: 0.313rem;
    font-family: "Roboto", sans-serif;
    font-size: 0.938rem;
    font-weight: 600;
    color: white;
    padding: 0; 
}
.barberButton:active {
    background-color: #000000;
}
.customerButton {
    width: 21rem;
    height: 2.45rem;
    background-color: #C8102E;
    border: 1px solid #C8102E;
    border-radius: 0.313rem;
    font-family: "Roboto", sans-serif;
    font-size: 0.938rem;
    font-weight: 600;
    color: white;
    padding: 0;
    margin-top: .5rem; 
}
.customerButton:active {
    background-color: #a50e27;
}
.myHolder {
    display: flex;
    margin: 1rem 1rem 0 1rem;
}
.myDivider {
    font-family: "Roboto", sans-serif;
    font-size: 0.938rem;
    font-weight: 600;
    margin-right: 1rem;
    margin-left: 1rem;
}
.roleHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modalBody2 {
    padding: 0.8rem 2rem 2rem 2rem;
}
.googleAcc p {
    margin: 0;
    padding: .25rem 4.67rem;
}
.googleAccR p {
    margin: 0;
    padding: .25rem 4.48rem;
}
.butt-nav-log{
    background: #C8102E;
    opacity: 0.8;
    color: white;
    background-color: #C8102E;
    border-radius: 2rem;
    height: 2.5rem;
    width: 5rem;
    border: black; 
    margin-left: 2rem;
}