.payment-container{
    width: 100%;
    margin-top: 2rem;
    
}
.payment-option-container{
    //margin: 2rem 5rem 2rem 5rem;
    width: 50%
}
.form-group-exp-date-pref{
    background: #E9EBED;
    border-radius: 1rem;
    width: 30%;
}
.form-group-exp-date{
    background: #E9EBED;
    border-radius: 1rem;
    width: 60%;

}
h4{
    color: #C8102E;
    font-weight: bolder;
    font-family: "roboto";
    font-size: larger;
}
.my-profile-save-card-number-container {
    //text-align: center;
    margin: 0rem 0rem 3rem 0rem;
}
.my-profile-save-card-number{
    color: #E9EBED;
    background: #242331;
    border-radius: 2rem;
    width: 10rem;
    border-style: none;
}